@chsarset "utf-8" ;
header {
  background-color: black;
  background-image: url("ap_dinosaur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
#header{
  text-align: center;
  color: white;
}
#header-logo{
  color: white;
}
 {
  margin: auto;
}
body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", helvecia,sans-serif,sans-serif;
  background-color: black;
}
#news{
  color: red;
  background-color: MidnightBlue;
}

img {
  display: block;
}
#photo img{
  width: 200px;
  height: 200px;
}
#photo p {
  color: white;
  height: 500px;
}
footer {
  color: white;
  height: 30px;
}

#photo {
  height: 300px;
}

#photo div {
  float: left;
  text-align: center;
  margin: 25px;
}
.btn{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 550px;
  margin-bottom: 20px;

}
.ann button{
  border: solid 5px blue;
}
